:root {
  --color-vermelho1: rgb(184, 0, 0);
  --color-vermelho2: rgb(255, 0, 0);
  --color-azul1: rgb(0, 0, 255);
  --color-azul2: rgb(116, 171, 255);
  --color-amarelo1: rgb(255, 255, 0);
  --color-verde1: rgb(0, 128, 0);
  --color-white1: rgb(255, 255, 255);
  --color-black1: rgb(41, 41, 41);
  --color-grey1: rgb(70, 70, 70);
  --color-grey2: rgb(185, 185, 185);
}

body {
  background-color: var(--color-vermelho1);
  color: var(--color-white1);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Imagens */

#pokemon-image {
  margin: 10px;
  padding: 0px;
  display: none;
  z-index: 998;
}

/* Textos */

.titulo {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-grey1);
}

.descritivo {
  font-size: 14px;
  color: var(--color-grey2);
}

.tipos {
  font-size: 14px;
  color: var(--color-grey2);
}

.textoLista {
  margin: 10px auto;
  color: var(--color-black1);
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  cursor: pointer;
}

/* Estrutura */

.pokedex{
  margin: 10px auto;
  width: 350px;
  height: 630px;
}

.testeira {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--color-black1);
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.molduraTela {
  margin: 10px;
  padding: 10px;
  height: 210px;
  border: 0px;
  border-bottom: 5px solid var(--color-black1);
  border-right: 5px solid var(--color-black1);
  border-radius: 15px;
  background-color: var(--color-white1);
  align-items: center;
}

.telaImagem {
  margin: 5px auto;
  padding: 10px;
  width: 90%;
  height: 130px;
  border: 1px solid var(--color-grey2);
  border-radius: 10px;
  background-image: url("./img/fundos/01-terreno.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.nomeNumero {
  margin: 2px;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.telaTexto {
  margin: 15px 10px;
  padding: 10px;
  height: 200px;
  border-radius: 15px;
  background-color: var(--color-black1);
}

.caixaTexto {
  margin: 5px;
}

.caixaBotoes {
  margin: 0px auto;
  text-align: center;
}

/* Campos */

button {
  margin: 2px;
  padding: 10px 15px;
  border: 0px;
  border-right: 5px solid var(--color-black1);
  border-bottom: 5px solid var(--color-black1);
  border-radius: 10px;
  background-color: var(--color-grey2);
  color: var(--color-grey1);
  font-weight: bold;
  cursor: pointer;
}

.destaque {
  background-color: var(--color-white1);
  color: var(--color-black1);
}

/* Formas */

hr {
  margin: 10px 0px;
  width: 95%;
  border: 1px solid var(--color-grey1);
}

.linha {
  margin: 2px;
  width: 25px;
  height: 2px;
  background-color: var(--color-grey2);
}

.central {
  margin-bottom: 5px;
  justify-content: center;
}

.lampadas {
  display: flex;
  flex-direction: row;
}

.leds {
  margin: auto 5px;
  padding: 2px;
  border: 1px solid var(--color-grey1);
  border-radius: 50%;
}

.ledPeq {
  margin: 5px;
  width: 15px;
  height: 15px;
}

.ledMini {
  margin-top: 5px;
  width: 5px;
  height: 5px;
}

.ledAzul {
  margin: 0px;
  padding: 0px;
  width: 40px;
  height: 40px;
  background: radial-gradient(circle, rgba(0,161,255,1) 0%, rgba(0,78,124,1) 100%);
}

.separaLed {
  margin: 5px 10px;
  padding: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-white1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ledVermelho {
  background-color: var(--color-vermelho2);
}

.ledAmarelo {
  background-color: var(--color-amarelo1);
}

.ledVerde {
  background-color: var(--color-verde1);
}

/* Modal */

.modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .modal-content {
    background-color: var(--color-white1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: var(--color-white1);
    font-size: 40px;
  }